.ascii-art {
    font-family: monospace;
    white-space: pre;
    margin: auto;
    text-align: center;
    padding: 30px;
}

.content {
    font-family: monospace;
    margin: auto;
    text-align: center;
}
